*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
div.logo {
    display: flex;

}
.logo img {
   width: 70px;
   height: 60px;
   padding-top: 3px;

   
}
.logoWords a {

    display: inline-block;
    color:white;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 8px;
    
} 
header .nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color:rgb(179,198,86);
    padding: 5px 10px;
    
   
}


nav li a {
     text-decoration: none;
     color: #fff;
    font-size: 18px;
 }
ul  {
    list-style: none;
    
 }

.nav-main ul {
    display:flex;
}
/* :nth-child(2)  */
 ul.nav-menu li {
     padding: 18px 10px 0;
 }

ul.nav-social li {
    padding: 18px 3px 0;
}
/* :nth-child(2) */
.nav-main ul li a:hover{
    border-bottom: 2px solid blue ;
}
/* :nth-child(2) */
.nav-main ul.nav-menu {
    flex: 1;  
    margin-left: 40px; 
}



.nav-social a{
padding: 5px;
   color: white;
}
section.features {
    display: flex
  
}
.container {
    
    background-color: #b7e4c7;
    width:1000px;
    margin: auto;
   
    /* text-align: center; */
 } 



.features {
    display: flex;
    
    justify-content: space-around;
    color: #fff;
    font-size: 1.2rem;
}
.features div {
   background-color: #6a994e;
   padding: 20px;
   width: 100%; 
   margin: 10px 1px;
   text-align: center;
}



.show-case {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    margin: 70px 0;
    padding: 0 25px;
   
}
.show-case-img img{
    width: 100%;
    
}
.main-content {
    height: 300px;
    padding: 0px;
    /* overflow: hidden; */
} 
.main-content p {
    font-size: 1.2em;
    
}

h1.main-title  a:hover {
    border-bottom: 2px solid #000;
}

h1.main-title  {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
   
}



.news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 4px 0;
  padding: 10px 25px;
  padding-bottom: 200px;
}


.news-cards a i{
    padding-top: 15px; 
}
.news-cards i {
    padding: 3px 8px 0;
}
.news-cards a:hover,i:hover{
    color: rgb(27, 170, 27);
}
.news-cards img {
    width: 100%; 
    height: 250px;
}

.news-cards p{
    padding: 5px 5px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #222;
    color: rgb(172, 169, 169);
    padding: 10px 0;
    text-align: center;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* Mobil */
/* @media (max-width: 800px){
    .features {
        display: flex;
        flex-flow: wrap;
    
    }
} */
@media (max-width: 1000px){
    .container {
        width: 100%;
    }
}

@media (max-width: 700px) {

.menu-btn {
         display: block;
     }

.menu-btn:hover {
        opacity: 0.5;
      }
.nav-main .nav-social {
    display: none; 
} 
section.features {
    display: none; 
}
.nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
         transform: translateX(-500px); 
        transition: transform 0.5s ease-in-out;
      }
.nav-main ul.nav-menu.show {
        transform: translateX(-38px);
      }
.nav-main ul.nav-menu li {
          padding: 20px;
         
          font-size: 14 ;
      }
ul.nav-menu a:hover {
      border-bottom: #ccc solid 1px;
      }

.show-case {
       
        grid-template-columns: repeat(1, 1fr);
        
       
        
    }
.show-case .show-case-img, .show-case main-content {
        /* width: 80%;
        margin: 20px; */
            
    }
    /* .show-case .show-case-img {
       
    } */
.news-cards {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }


}

@media (max-width: 550px){

.news-cards {
    grid-template-columns: repeat(1, 1fr);
}





}